body {
    margin: auto;
    max-width: 85em;
    font-family: "Arial", sans-serif;
    line-height: 1.5em;
    padding: 4em 1em;
    color: #282425;
    background-color: #fff1e6;
  }

nav {
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    background-color: rgb(252, 224, 188);
    padding: 1rem;
    padding-left: 0;
    border-bottom: 5px solid rgb(221, 166, 93);
    border-top-width: 1px;
    border-radius: 10px 20px
    
}

header {
    min-height: 90px;
    padding: 1rem 3rem;
    background-image: url(svetla.jpg);
    background-position: center;
}

h1 {
    margin-top: 1em;
    padding-top: 1em;
}

h2,
h3,
a{
    color:#756158;
}

h3 {
    clear: both;
}

h1 {
    font-size: 3rem;
    text-align: center;
    }
    
main {
    padding: 1rem;
    background-color: #f7d2ba;
}
    
main img {
    max-width: 100%;
    height: auto;
}

section {
    display: flow-root;
    padding: 1rem;
    background-color: #f8e3d3;
    border-bottom: 1px dotted #003322;
    margin-right: -1rem;
    margin-left: -1rem;
}

section img {
    float: left;
    margin-right: 1rem;
    width: 20%;
    height: auto;
    border-radius: 100px;
}

article image {
    float: left;
    margin-right: 1rem;
    border-radius: 7rem;
}


